.loader{
    border: 16px solid lightgray; 
    border-top: 16px solid black; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #year-chart-container,  #make-chart-container{
    display: none;
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #button-container > button{
    color: black;
    border-radius: 10%;
    border: solid gray 2px;
    font-weight: 700;
    width: 32%;
    height: 50px
  }

  #button-container > button:hover{
    color: black;
    border-radius: 30%;
    border: solid black 2px;
    font-weight: 800;
    width: 32%;
    height: 50px
  }

  #button-container > button:focus{
    color: black;
    text-shadow: 3px 3px 0 lightgray;
    border-radius: 30%;
    border: solid black 2px;
    font-weight: 900;
    width: 32%;
    height: 50px
  }

  #button-container > button:active{
    transform: translateY(4px);
  }